@use "~@material/typography/mixins" as typography;

.TodoApp {
    @include typography.base;
    display: block;
    background-color: blue;
    color: white;
    padding: 1rem;

    h1 {
        @include typography.typography(headline5);
        margin:0;
    } 
    
    span {
        @include typography.typography(overline);
    }
}

